<div class="bg-white rounded p-5 my-5 container w-75">
    <div class="eyes">
      <div class="eye eye-left"></div>
      <div class="eye eye-right"></div>
    </div>

  <h2 class="my-3">My Shows</h2>
  <% @shows.each do |show| %>
    <div class="card bg-light rounded mt-2 p-3 d-flex justify-content-center">
            <h4><%= show.title %></h4>
            <h4> <i class="fa fa-calendar" aria-hidden="true"></i> <%= show.datetime.strftime("%d/%m/%Y %H:%M") %> </h4>
    </div>
  <% end %>

  <h2 class="my-3">My Bookings</h2>
  <% @bookings.each do |booking| %>
    <div class="card bg-light rounded mt-2 p-3 d-flex justify-content-center">
            <h4><%=Show.find(booking.show_id).title%></h4>
            <h4>Number of seats booked: <%= booking.seat_quantity %> </h4>
            <h4> <i class="fa fa-calendar" aria-hidden="true"></i> <%= Show.find(booking.show_id).datetime.strftime("%d/%m/%Y %H:%M") %></h4>
    </div>
  <% end %>
</div>

<style>
.eyes {
  width: 108px;
  height: 54px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -27px;
  margin-left: -54px;
}
.eye {
  position: relative;
  background: #D9CFCF;
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
  overflow: hidden;
  animation: rotate 4s infinite;
}

.eye::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #1d0e28;
  animation: eye 4s infinite;
}

.eye::before,
.eye {
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(-90deg);
  }
  87.5% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(-90deg);
  }
  87.5% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes eye {

  0% {
    top: 15px;
    left: 15px;
  }
  12.5% {
    top: 15px;
    left: 5px;
  }
  25% {
    top: 15px;
    left: 15px;
  }
  37.5% {
    top: 15px;
    left: 25px;
  }
  50% {
    top: 15px;
    left: 15px;
  }
  62.5% {
    top: 5px;
    left: 15px;
  }
  87.5% {
    top: 5px;
    left: 15px;
  }
  100% {
    top: 15px;
    left: 15px;
  }
}
@-webkit-keyframes eye {
  0% {
    top: 15px;
    left: 15px;
  }
  12.5% {
    top: 15px;
    left: 5px;
  }
  25% {
    top: 15px;
    left: 15px;
  }
  37.5% {
    top: 15px;
    left: 25px;
  }
  50% {
    top: 15px;
    left: 15px;
  }
  62.5% {
    top: 5px;
    left: 15px;
  }
  87.5% {
    top: 5px;
    left: 15px;
  }
  100% {
    top: 15px;
    left: 15px;
  }
}
</style>
