<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Find comedy shows near you</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Comedy Shows</h3>
    <%= link_to "Host a comedy show", new_show_path, class: "Host_comedy btn btn-flat" %>
  </div>
  <div class="row">
    <% @shows.each do |show| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to show_path(show), class:"text-decoration-none" do %>
          <%# <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= show.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_background.jpg') %>
            <%= show.title %>
          <%# </div> %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
