<div class="bg-dark container w-75 p-5 my-5 text-light">
  <h2 id="newshow" class="text-light mb-5">List your comedy show on Standup Finder</h2>
  <%= simple_form_for [ @show ] do |f| %>
    <%= f.input :title %>
    <%= f.input :comedian %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :capacity %>
    <%= f.input :datetime %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-pink btn-lg" %>
  <% end %>
</div>
