<% if @show.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @show.photo.key, height: 300, crop: :scale %>')">
    <div class="container">
      <h1 class="d-flex justify-content-center"><%= @show.title %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random/?comedy-show')">
  <div class="container">
    <h1 class="d-flex justify-content-center"><%= @show.title %></h1>
  </div>
</div>
<% end %>


<section class="rounded p-5 my-5 container">
  <div class="row justify-content-between">
    <h5 class="col-xs-12 col-md-7 show-description"><%= @show.description %></h4>
    <div class="show-description col-xs-12 col-md-4">
      <div>
        <h5> <i class="fa fa-calendar" aria-hidden="true"></i> The show is on: <%= @show.datetime.strftime("%d/%m/%Y %H:%M") %></h5>
        <h5> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Price: <%= @show.price %> AUD </h5>
        <h5> <i class="fa-solid fa-chair"></i> <%= @available_seats%> seats remaining</h5>
      </div>
      <div class="center align-items-center">
        <button type="button" class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#bookModal">
            Book Now
          </button>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookModalLabel">Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= simple_form_for [ @show, @booking ] do |f| %>
              <%= f.input :seat_quantity, as: :string, required: true %>
              <%= f.submit "Confirm Booking", class: "btn btn-pink btn-lg" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# REVIEWS %>
  <div id="review" class="mt-5 d-flex container justify-content-between">
    <h4>Reviews</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#newModal">
      Create Review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newModalLabel">Create Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@show, @review] do |f| %>
              <%= f.input :rating %>
              <%= f.input :comment %>
              <%= f.button :submit, class: "btn btn-pink btn-lg"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="show-description cardrounded mt-2 p-3 d-flex review">
          <p class="d-flex justify-content-between"><span class="review-stars mb-1"><% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          </span>
          <span class="review-icons flex-end"><%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe,
                review_path(review),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this task?" } %>
                <i class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i></span>
                <!-- Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for(review) do |f| %>
                          <%= f.input :rating %>
                          <%= f.input :comment %>
                          <%= f.button :submit, class: "btn btn-pink btn-lg"%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
          </p>

          <p class="my-2"><%= review.comment %></p>
          <% if user_signed_in? && current_user.photo.attached? %>
            <div class="d-flex flex-row-reverse">
              <p ><%= cl_image_tag(User.find(review.user_id).photo.key,:alt=> "#{User.find(review.user_id).username}" , :transformation=>[
                {:height=>32, :width=>32, :crop=>"fit"},
                {:radius => 50}

                ]) %> <%= time_ago_in_words(review.created_at)%> ago</p>
            </div>
          <% else %>
            <p class="d-flex flex-row-reverse">Posted by: <%= User.find(review.user_id).username %> - <%= time_ago_in_words(review.created_at)%> ago</p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="show-description card rounded mt-2 p-3 d-flex justify-content-center">
        <p>There aren't any reviews yet for <em><%= @show.title %><em></p>
      </div>
  <% end %>
</section>
